.fotogalerie-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.fotogalerie {
  max-width: 32%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #5a6794;
  margin: 15px;
}

.fotogalerie-headline {
  font-family: Arial, Helvetica, sans-serif;
  color: #5a6794;
  font-size: 28pt;
  margin: 15px;
  text-align: center;
  margin-top: 625px;
}

.fotogalerie:hover {
  background-color: #1c2135;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.hotelBeschreibung {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
}

.hotelBeschreibung h1 {
  text-align: center;
}

.hotelBuchen {
  cursor: pointer;
  font-size: 1vw;
  background-color: #1c2135;
  text-align: center;
  color: white;
  border: none;
  width: 100%;
  margin-right: 15px;
  padding: 10px;
  border-radius: 30px;
}

.hotelBuchen:hover {
  background-color: #5a6794;
}
