:host {
  display: block;

/* Farbschema ONBB */
--buttons: #5A6794;
--effect: #1C2135;
--accent: #DBCDB0;
--black: #13152c;
--darkgrey: #313436;
--lightgrey: #ececec;
--line: #f1f2f3;
--white: #ffffff;

}

.wrapper {
  width: 80%;
  margin: 1cm;
  padding: 0;
  box-sizing: border-box;
  
}

.rezensionen-headline {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--buttons);
  color: var(--white);
  position: absolute;
  width: 50%;
  margin: 0;
  text-align: center;
}

.rezensionen:nth-child(1) {
  animation-delay: 0s;
  
}

.rezensionen:nth-child(2) {
  animation-delay: 10s;
}

.rezensionen:nth-child(3) {
  animation-delay: 20s;
}

.rezensionen {
  margin: 100px;
  width: 100%;
  /*background-color: #5A6794;*/
  /*border: 30px;*/
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: xx-large;
  color: var(--buttons);
  /*position: absolute;*/

  opacity: 0;
  animation: cycleQuotes 31s infinite;
}

@keyframes cycleQuotes {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
