:host {
    

    
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22;
    color: #E7E9EE;
}

input {
    background-color: #E7E9EE;
}

button {
    color:  #E7E9EE;
    background-color: #5A6794;
    border-radius: 30px;
}

form{
    margin: 20px;
    padding: 20px;
    background-color: #8794C0;
    border-radius: 10px;
}
footer {
    background-color: #5A6794;
    padding: 100px;
    width: 100%;
}

input {
    color:  #5A6794;
    border-style: none;
    padding: 5px;
    border-radius: 10px;

}