.menuleiste {
  width: 50%;
  margin-top: -2%;
  margin-left: 25%;
  margin-right: 25%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  align-items: center;
  min-height: auto;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background: #e7e9ee;
  transform-style: preserve-3d;
}

.menuleiste input:active, .menuleiste input:focus {
outline: none;
background-color: white;
}

.menuleiste input {
width: 100%;
  padding: 1.5rem 1.5rem;
  border: 0.1px;
  background: #e7e9ee;
  border-radius: 30px;
  font-weight: bolder;
  text-align: center;
}

.ortaus {
width: 180px;
  margin-top: 0.5%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0.5rem 0.5rem;
  min-height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  align-items: center;
  min-height: auto;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background: #e7e9ee;
  transform-style: preserve-3d;
  text-align: center;
}

.gaesteaus {
  width: 180px;
  margin-top: 0.5%;
  margin-left: 57%;
  margin-right: 25%;
  padding: 0.5rem 0.5rem;
  min-height: 100vh;
  display: none;
  perspective: 1000px;
  min-height: auto;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background: #e7e9ee;
  transform-style: preserve-3d;
  position: absolute;
}

#gaesteanzahl {
  width: 100%;
  border: 0.1px;
  background: #e7e9ee;
  border-radius: 30px;
  font-weight: bolder;
  text-align: center;
}

#gaesteanzahl input.active, #gaesteanzahl input.focus {
outline: none;
border: none;
}

.datum {
display: none;
margin-top: 0.5%;
  margin-left: 36%;
  margin-right: 25%;
}

.von {
  width: 360px;
  padding: 0.5rem 0.5rem;
  min-height: 100vh;
  display: inline-block;
  perspective: 1000px;
  min-height: auto;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background: #e7e9ee;
  transform-style: preserve-3d;
  position: absolute;
}



#vonTag {
width: 14%;
  border: 0.1px;
  background: #e7e9ee;
  border-radius: 30px;
  font-weight: bolder;
  text-align: center;
  margin-right: 0%;
  margin-left: 80px;

}

#vonMonat {
width: 14%;
  border: 0.1px;
  background: #e7e9ee;
  border-radius: 30px;
  font-weight: bolder;
  text-align: center;
  margin-right: 0%;
}


#vonJahr {
width: 20%;
  border: 0.1px;
  background: #e7e9ee;
  border-radius: 30px;
  font-weight: bolder;
  text-align: center;
  right: 0;
  margin-right: 0%;
}

.bis {
width: 360px;
  padding: 0.5rem 0.5rem;
  min-height: 100vh;
  display: inline-block;
  perspective: 1000px;
  min-height: auto;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  background: #e7e9ee;
  transform-style: preserve-3d;
  position: absolute;
  margin-top: 34.1px;
}

#bisTag {
width: 14%;
  border: 0.1px;
  background: #e7e9ee;
  border-radius: 30px;
  font-weight: bolder;
  text-align: center;
  margin-right: 0%;
  margin-left: 63.5px;
}

#bisMonat {
width: 14%;
  border: 0.1px;
  background: #e7e9ee;
  border-radius: 30px;
  font-weight: bolder;
  text-align: center;
  margin-right: 0%;
}


#bisJahr {
width: 20%;
  border: 0.1px;
  background: #e7e9ee;
  border-radius: 30px;
  font-weight: bolder;
  text-align: center;
  right: 0;
  margin-right: 0%;
}


.sucherund {
  background: #d8cdb0;
  display: block;
  box-sizing: border-box;
  color: black;
  border-radius: 50%;
  min-width: 63px;
  min-height: 63px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: flex;
  margin-left: 3.5%;
  cursor: pointer;
}

.sucheaus {
background: #d8cdb0;
box-sizing: border-box;
border-radius: 30px;
min-width: 123px;
min-height: 63px;
justify-content: center;
align-items: center;
display: none;
position: flex;
margin-left: 3.5%;;
cursor: pointer;
border: none;
}

.sucheaus button:active, .sucheaus button:focus {
outline: none;
}

.sucheaus button.active {
border: none;
}

.ee{
display: none;
}

#eetext {
width: 18%;
margin-left: 41%;
margin-right: 41%;
}
